@use "../util/" as *;

.toggle{
    border: none;
    &__wrapper{

    }
    input[type="radio"] {

    }
    &__button{
        width: rem(16);
        height: rem(16);
        background-color: var(--toggle);
    }
}